/* Global styles for Material-UI application */
html {
  font-family: 'Science Gothic', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* Let MUI theme control background in light/dark modes */
  background-color: unset;
}

* {
  box-sizing: border-box;
}